.container{
  display: grid;
  background-color: #90D5FF;
  grid-template-columns: 40px auto 300px 100px 300px auto 40px;
  grid-template-rows: 40px 150px 40px 200px 400px auto;
}
.item{
  background-color: #B3EBF2;
  color: black;
  font-size: 20px;
  text-align: center;
  border-radius: 12px;
  overflow: hidden;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.h1{
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 40px;
}
.info{
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
  padding: 20px;
}
.img{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-column-end: 6;
}
  
